<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Barra de progreso</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
            [attr.ariaValuenow]="porcentaje" aria-valuemin="0" aria-valuemax="100" 
            [style.width] = "porcentaje + '%'"></div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" 
            [attr.ariaValuenow]="porcentaje" aria-valuemin="0" aria-valuemax="100" 
            [style.width] = "porcentaje + '%'"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador leyenda="Leyenda azul" [porcentaje] = porcentaje ></app-incrementador>
      </div>
    </div>
  </div>

  <div class="col-6">
      <div class="card">
        <div class="card-body">
            <app-incrementador  leyenda="Leyenda verde"></app-incrementador>
        </div>
      </div>
    </div>
</div>
